In [1]:
import pymongo

# **Database di Prof**

In [2]:
# stringa di connessione 3.4 recuperata da Atlas https://www.mongodb.com/cloud/atlas/register
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_restaurants # nome del database

In [3]:
rest = db.restaurants #Nome della collection
rest

Collection(Database(MongoClient(host=['cluster0-shard-00-02.algwo.mongodb.net:27017', 'cluster0-shard-00-01.algwo.mongodb.net:27017', 'cluster0-shard-00-00.algwo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='atlas-am4cb3-shard-0', authsource='admin', retrywrites=True, w='majority'), 'sample_restaurants'), 'restaurants')

In [4]:
import pandas as pd
df = pd.DataFrame.from_records(db.restaurants.find())
df

                            _id  ... restaurant_id
0      5eb3d668b31de5d588f42930  ...      40356151
1      5eb3d668b31de5d588f4292a  ...      40356018
2      5eb3d668b31de5d588f42935  ...      40360045
3      5eb3d668b31de5d588f4292d  ...      30112340
4      5eb3d668b31de5d588f42931  ...      40356649
...                         ...  ...           ...
25354  5eb3d669b31de5d588f48bd7  ...      50018749
25355  5eb3d669b31de5d588f48bf8  ...      50018793
25356  5eb3d669b31de5d588f48bf9  ...      50018788
25357  5eb3d669b31de5d588f48c1f  ...      50018882
25358  5eb3d669b31de5d588f48c21  ...      50018923

[25359 rows x 7 columns]

In [5]:
df = pd.DataFrame.from_records(db.restaurants.find({"borough": "Brooklyn"}))
df

                           _id  ... restaurant_id
0     5eb3d668b31de5d588f4292a  ...      40356018
1     5eb3d668b31de5d588f42935  ...      40360045
2     5eb3d668b31de5d588f4292d  ...      30112340
3     5eb3d668b31de5d588f42931  ...      40356649
4     5eb3d668b31de5d588f4297a  ...      40364889
...                        ...  ...           ...
6081  5eb3d669b31de5d588f48aee  ...      50018278
6082  5eb3d669b31de5d588f48b1e  ...      50018382
6083  5eb3d669b31de5d588f48b99  ...      50018616
6084  5eb3d669b31de5d588f48bc8  ...      50018721
6085  5eb3d669b31de5d588f48c1f  ...      50018882

[6086 rows x 7 columns]

In [6]:
df1 = pd.DataFrame(list(db.restaurants.find()))
df1.head()

                        _id  ... restaurant_id
0  5eb3d668b31de5d588f42930  ...      40356151
1  5eb3d668b31de5d588f4292a  ...      40356018
2  5eb3d668b31de5d588f42935  ...      40360045
3  5eb3d668b31de5d588f4292d  ...      30112340
4  5eb3d668b31de5d588f42931  ...      40356649

[5 rows x 7 columns]

# **Mio DataBase**

In [7]:
client = pymongo.MongoClient("mongodb://Livera2003:Waduge78&@cluster0-shard-00-00.uylmr.mongodb.net:27017,cluster0-shard-00-01.uylmr.mongodb.net:27017,cluster0-shard-00-02.uylmr.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-38dmxu-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.Livera1 # nome del database

In [8]:
import pandas as pd
df = pd.DataFrame.from_records(db.prime.find())
df

                          _id                    S  ... IMDb rating Age of viewers
0    6193e133e68ad09078146161    {'no': {'': '1'}}  ...         7.5            18+
1    6193e133e68ad09078146162    {'no': {'': '2'}}  ...         8.1            16+
2    6193e133e68ad09078146163    {'no': {'': '3'}}  ...         8.7            16+
3    6193e133e68ad09078146164    {'no': {'': '4'}}  ...         5.3            18+
4    6193e133e68ad09078146165    {'no': {'': '5'}}  ...         8.7            18+
..                        ...                  ...  ...         ...            ...
399  6193e133e68ad090781462f0  {'no': {'': '400'}}  ...
400  6193e133e68ad090781462f1  {'no': {'': '401'}}  ...
401  6193e133e68ad090781462f2  {'no': {'': '402'}}  ...
402  6193e133e68ad090781462f3  {'no': {'': '403'}}  ...
403  6193e133e68ad090781462f4  {'no': {'': '404'}}  ...

[404 rows x 9 columns]

In [9]:
df = pd.DataFrame.from_records(db.prime.find({"Name of the show": "Upload"}))
df

                        _id                  S  ... IMDb rating Age of viewers
0  6193e133e68ad09078146162  {'no': {'': '2'}}  ...         8.1            16+

[1 rows x 9 columns]

In [10]:
df1 = pd.DataFrame(list(db.prime.find()))
df1.head()

                        _id                  S  ... IMDb rating Age of viewers
0  6193e133e68ad09078146161  {'no': {'': '1'}}  ...         7.5            18+
1  6193e133e68ad09078146162  {'no': {'': '2'}}  ...         8.1            16+
2  6193e133e68ad09078146163  {'no': {'': '3'}}  ...         8.7            16+
3  6193e133e68ad09078146164  {'no': {'': '4'}}  ...         5.3            18+
4  6193e133e68ad09078146165  {'no': {'': '5'}}  ...         8.7            18+

[5 rows x 9 columns]