A partire dal notebook Python presente nel post della verifica, scrivere le istruzioni per collegarsi al
database sample_mflix.

e per estrarre, dalla collection movies , le informazioni seguenti. Inserire nel notebook la richiesta
(sottoforma di markdown) e il codice necessario per risolverla. Indentare il codice in modo che sia il più
chiaro possibile. Se non indicato esplicitamente, estrarre tutti i campi della collection.
Informazioni da reperire

In [ ]:
import pymongo
import pandas as pd

In [ ]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_mflix # nome del database

In [ ]:
doc = db.movies.find_one()
doc

{'_id': ObjectId('573a1391f29313caabcd68d0'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Harold Lloyd',
  'Mildred Davis',
  "'Snub' Pollard",
  'Peggy Cartwright'],
 'countries': ['USA'],
 'directors': ['Alfred J. Goulding', 'Hal Roach'],
 'fullplot': "As a penniless man worries about how he will manage to eat, he is joined by a young waif and her dog, who are in the same predicament. Meanwhile, across town a dishonest lawyer is working with a gang of criminals, trying to swindle an innocent young heiress out of her inheritance. As the heiress is on her way home from the lawyer's office, she notices the young man and the waif in the midst of their latest problem with the authorities, and she rescues them. Later on, the young man will have an unexpected opportunity to repay her for her kindness.",
 'genres': ['Comedy', 'Short', 'Action'],
 'imdb': {'id': 10146, 'rating': 7.0, 'votes': 639},
 'languages': ['English'],
 'lastupdated': '2015-04-17 00:16:14.220000000',
 'plot': 'A penniless young man tries to save an heiress from kidnappers and help her secure her inheritance.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BNzE1OWRlNDgtMTllNi00NTZiLWIyNTktYTk0MDY1ZWUwYTc5XkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'TV-G',
 'released': datetime.datetime(1919, 12, 28, 0, 0),
 'runtime': 22,
 'title': 'From Hand to Mouth',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 8, 21, 18, 45, 11),
  'production': 'Pathè Exchange',
  'viewer': {'meter': 55, 'numReviews': 71, 'rating': 3.3}},
 'type': 'movie',
 'writers': ['H.M. Walker (titles)'],
 'year': 1919}

In [ ]:
df1 = pd.DataFrame(list(db.movies.find()))
df1.head()

,_id,plot,genres,runtime,rated,cast,poster,title,fullplot,languages,...,writers,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,metacritic
0,573a1391f29313caabcd68d0,A penniless young man tries to save an heiress...,"[Comedy, Short, Action]",22.0,TV-G,"[Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...",https://m.media-amazon.com/images/M/MV5BNzE1OW...,From Hand to Mouth,As a penniless man worries about how he will m...,[English],...,[H.M. Walker (titles)],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-04-17 00:16:14.220000000,1919,"{'rating': 7.0, 'votes': 639, 'id': 10146}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 71, '...",NaN,NaN
1,573a1391f29313caabcd6ea2,The simple-minded son of a rich financier must...,[Comedy],77.0,NaN,"[Edward Jobson, Beulah Booker, Edward Connelly...",https://m.media-amazon.com/images/M/MV5BZDNiOD...,The Saphead,Nick Van Alstyne owns the Henrietta silver min...,NaN,...,"[Bronson Howard (original play ""The Henrietta""...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-06-20 00:38:08.303000000,1920,"{'rating': 6.2, 'votes': 1020, 'id': 11652}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 435, ...",2.0,NaN
2,573a1391f29313caabcd6d90,As Alice and Cora Munro attempt to find their ...,"[Adventure, Drama]",73.0,NOT RATED,"[Wallace Beery, Barbara Bedford, Alan Roscoe, ...",https://m.media-amazon.com/images/M/MV5BZmJkZD...,The Last of the Mohicans,As Alice and Cora Munro attempt to find their ...,[English],...,"[James Fenimore Cooper (novel), Robert Dillon ...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-19 00:12:27.010000000,1920,"{'rating': 6.9, 'votes': 773, 'id': 11387}",[USA],movie,"{'viewer': {'rating': 3.5, 'numReviews': 306, ...",NaN,NaN
3,573a1390f29313caabcd4eaf,"A woman, with the aid of her police officer sw...","[Crime, Drama]",88.0,TV-PG,"[Jane Gail, Ethel Grandin, William H. Turner, ...",https://m.media-amazon.com/images/M/MV5BYzk0YW...,Traffic in Souls,NaN,[English],...,NaN,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-15 02:07:14.247000000,1913,"{'rating': 6.0, 'votes': 371, 'id': 3471}",[USA],movie,"{'viewer': {'rating': 3.0, 'numReviews': 85, '...",2.0,NaN
4,573a1390f29313caabcd5ea4,A District Attorney's outspoken stand on abort...,[Drama],62.0,APPROVED,"[Tyrone Power Sr., Helen Riaume, Marie Walcamp...",NaN,Where Are My Children?,While prosecuting a physician for the death of...,[English],...,"[Lucy Payton (from the story by), Franklin Hal...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-07 00:51:32.560000000,1916,"{'rating': 5.9, 'votes': 247, 'id': 7558}",[USA],movie,"{'viewer': {'rating': 3.1, 'numReviews': 34, '...",NaN,NaN

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

1. Gli attori dei film

In [ ]:
result=db.movies.find({},{"cast":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                    cast
0      [Harold Lloyd, Mildred Davis, 'Snub' Pollard, ...
1      [Edward Jobson, Beulah Booker, Edward Connelly...
2      [Wallace Beery, Barbara Bedford, Alan Roscoe, ...
3      [Jane Gail, Ethel Grandin, William H. Turner, ...
4      [Tyrone Power Sr., Helen Riaume, Marie Walcamp...
...                                                  ...
23525  [Richa Chadda, Sanjay Mishra, Vicky Kaushal, V...
23526                                  [Chantal Akerman]
23527  [Holly Aird, Eileen Atkins, Hugh Bonneville, T...
23528  [Toni Rakkaen, Ingkarat Damrongsakkul, Thira C...
23529  [Aharon Traitel, Khalifa Natour, Riki Blich, G...

[23530 rows x 1 columns]

In [ ]:
result = db.movies.aggregate([{"$unwind":"$cast"},
                              {"$group": {"_id":"$cast"}},
                              {"$sort":{"cast":-1}}])
df2 = pd.DataFrame(list(result))
df2

                       _id
0           Layke Anderson
1         Deborah Ann Woll
2      Nicollette Sheridan
3              Moe Dunford
4            Henry Bergman
...                    ...
42145    Mitsutaka Itakura
42146        Nikita Tyunin
42147          Ward Luarca
42148        Soufia Issami
42149         Yèrei Yanagi

[42150 rows x 1 columns]

2. Gli attori il cui nome comincia per A

In [1]:
result = db.movies.aggregate([{"$unwind":"$cast"},
                              {"$match":{"cast":{"$regex":"^A.*"}}},
                              {"$group": {"_id":"$cast"}}])
df2 = pd.DataFrame(list(result))
df2

NameError: ignored

3. Gli attori che hanno recitato in film americani

In [ ]:
result = db.movies.aggregate([{"$unwind":"$cast"},
                              {"$match":{"countries":"USA"}},
                              {"$project":{"_id":0,"cast":1}}])
df2 = pd.DataFrame(list(result))
df2

                         cast
0                Harold Lloyd
1               Mildred Davis
2              'Snub' Pollard
3            Peggy Cartwright
4               Edward Jobson
...                       ...
45926    Sarah Ellen Stephens
45927            Toni Rakkaen
45928  Ingkarat Damrongsakkul
45929          Thira Chutikul
45930          Arthur Navarat

[45931 rows x 1 columns]

4. Gli attori che hanno recitato in film italiani e francesi

In [ ]:
result = db.movies.aggregate([{"$unwind":"$cast"},
                              {"$match":{'$or':[{'countries':"Italy"},{'countries':"France"}]}},
                              {"$project":{"_id":0,"cast":1}}])
df2 = pd.DataFrame(list(result))
df2

                     cast
0          Albert Prèjean
1             Pola Illèry
2      Edmond T. Grèville
3             Bill Bocket
4       Alexander Granach
...                   ...
15107        Richa Chadda
15108       Sanjay Mishra
15109       Vicky Kaushal
15110         Vinit Kumar
15111     Chantal Akerman

[15112 rows x 1 columns]

5. I film in cui hanno recitato Margaret Singer e Sarah Ellen Stephens

In [ ]:
result = db.movies.aggregate([{"$unwind":"$cast"},
                              {"$match": {'$or': [{"cast" : "Margaret Singer"} , {"cast" : "Sarah Ellen Stephens"}]}}])
df2 = pd.DataFrame(list(result))
df2

,_id,countries,genres,runtime,cast,title,lastupdated,languages,released,directors,writers,awards,year,imdb,type
0,573a13f8f29313caabde9156,[USA],"[Short, Drama, Romance]",14,Margaret Singer,Hallway,2015-05-21 21:15:39.987000000,[English],2015-03-14,[Leah Shore],[Leah Shore],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015,"{'rating': '', 'votes': '', 'id': 4522158}",movie
1,573a13f8f29313caabde9156,[USA],"[Short, Drama, Romance]",14,Sarah Ellen Stephens,Hallway,2015-05-21 21:15:39.987000000,[English],2015-03-14,[Leah Shore],[Leah Shore],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015,"{'rating': '', 'votes': '', 'id': 4522158}",movie

In [ ]:
result = db.movies.aggregate([{"$match": {"cast" : ["Margaret Singer","Sarah Ellen Stephens"]}}])
df2 = pd.DataFrame(list(result))
df2

,_id,countries,genres,runtime,cast,title,lastupdated,languages,released,directors,writers,awards,year,imdb,type
0,573a13f8f29313caabde9156,[USA],"[Short, Drama, Romance]",14,"[Margaret Singer, Sarah Ellen Stephens]",Hallway,2015-05-21 21:15:39.987000000,[English],2015-03-14,[Leah Shore],[Leah Shore],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015,"{'rating': '', 'votes': '', 'id': 4522158}",movie

6. I film che non hanno la valutazione di metacritic

7. Il numero di film per ogni attore. Ordinare in ordine decrescente a
partire dall’attore che ha recitato di più

8. I primi 10 attori della lista precedente

9. Gli attori che hanno recitato in un numero di film compreso tra 1° e 20

10. Il numero medio di film in cui ha recitato un attore

11. I film che hanno un a valutazione di metacritic superiore alla media

12. Il film con più attori

In [ ]:
result = db.movies.aggregate([{ "$unwind": "$cast" },
                              { "$group" : {"_id": "$cast", "total" : {"$sum" : 1}}},
                              { "$sort": {"total": -1 }},
                              { "$project": {"_id": 0,"title":1,"Attori": "$_id","total": "$total"}}])
df2 = pd.DataFrame(list(result))
df2

                     Attori  total
0          Gèrard Depardieu     68
1            Robert De Niro     60
2             Michael Caine     52
3      Marcello Mastroianni     50
4             Max von Sydow     49
...                     ...    ...
42145        Gordon Jackson      1
42146           Shelby Knox      1
42147            Fred Brown      1
42148               Ding Li      1
42149      Florentine Lahme      1

[42150 rows x 2 columns]

In [ ]:
result=db.movies.aggregate([{"$unwind": "$cast"},
                            {"$group": {"_id" : "$title", "total" : {"$sum" : 1}}},
                            {"$sort": { "total": -1 }}
                          ])
df=pd.DataFrame(list(result))
df

                                       _id  total
0                                 The Hole     24
1                                   Hamlet     24
2                                Jane Eyre     24
3                            The Terrorist     24
4                              The Journey     23
...                                    ...    ...
21282                             One Life      1
21283  George Lopez: It's Not Me, It's You      1
21284                           Mount Head      1
21285                             Freeheld      1
21286   George Carlin: Jammin' in New York      1

[21287 rows x 2 columns]