<a href="https://colab.research.google.com/github/LIVERA-S/21-22_INFORMATICA_LIVERA-4EINF/blob/main/Pandas_Ripasso_VERIFICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#pandas e una liberia

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv') #,sep = ','
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
3             40-49  13761536  ...         49934            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[9 rows x 10 columns]

1. Aggungere una nuova colonna chiamata percentualre maschi che contenga i maschi vaccinati

In [ ]:
df['percentuale_maschi'] = (df['sesso_maschile']/df['totale'])*100 #per trovare percentuale
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19   6268693  ...            2021-10-28           51.198137
1             20-29   9891343  ...            2021-10-28           52.285296
2             30-39  10555697  ...            2021-10-28           51.351199
3             40-49  13761536  ...            2021-10-28           49.626706
4             50-59  15818591  ...            2021-10-28           49.060077
5             60-69  12875027  ...            2021-10-28           48.522609
6             70-79  10840433  ...            2021-10-28           46.970698
7             80-89   7541357  ...            2021-10-28           41.746572
8               90+   1721375  ...            2021-10-28           29.916375

[9 rows x 11 columns]

Visualizzare il numero totlae di persone vaccinate con la seconda dose.

In [ ]:
df['seconda_dose'].sum()# per sommare

41434957

eleminare le colanne sesso maschile e sesso feminile

In [ ]:
df = df.drop(columns= ['sesso_femminile','sesso_maschile']) #per eleminare le colonne
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19   6268693  ...            2021-10-28           51.198137
1             20-29   9891343  ...            2021-10-28           52.285296
2             30-39  10555697  ...            2021-10-28           51.351199
3             40-49  13761536  ...            2021-10-28           49.626706
4             50-59  15818591  ...            2021-10-28           49.060077
5             60-69  12875027  ...            2021-10-28           48.522609
6             70-79  10840433  ...            2021-10-28           46.970698
7             80-89   7541357  ...            2021-10-28           41.746572
8               90+   1721375  ...            2021-10-28           29.916375

[9 rows x 9 columns]

cancella nel dataframe le righe dalla 2 alla 6

In [ ]:
df = df.drop(range(2,7))
df

  fascia_anagrafica   totale  ...  ultimo_aggiornamento  percentuale_maschi
0             12-19  6268693  ...            2021-10-28           51.198137
1             20-29  9891343  ...            2021-10-28           52.285296
7             80-89  7541357  ...            2021-10-28           41.746572
8               90+  1721375  ...            2021-10-28           29.916375

[4 rows x 9 columns]

visualizzare i vaccinati della fascia 20_29

In [ ]:
df[df['fascia_anagrafica'].isin(['20-29'])]
#df[df['fascia_anagrafica']=="20-29"]

  fascia_anagrafica   totale  ...  ultimo_aggiornamento  percentuale_maschi
1             20-29  9891343  ...            2021-10-28           52.285296

[1 rows x 9 columns]

In [ ]:
df[df['fascia_anagrafica'].isin(['20-29'])][['totale']]

    totale
1  9891343

In [ ]:
df = df.set_index('fascia_anagrafica')
df

                    totale  prima_dose  ...  ultimo_aggiornamento  percentuale_maschi
fascia_anagrafica                       ...
12-19              6268693     3223185  ...            2021-10-28           51.198137
20-29              9891343     5075497  ...            2021-10-28           52.285296
80-89              7541357     3451789  ...            2021-10-28           41.746572
90+                1721375      797161  ...            2021-10-28           29.916375

[4 rows x 8 columns]

In [ ]:
df.loc["20-29","totale"]

9891343

sostituire all valore 90+ il valore 90-120